<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang='en'> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang='en'> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang='en'> <![endif]-->
<!--[if gt IE 8]><!--> <html lang='en-us'> <!--<![endif]-->
  <head>
    <meta charset='utf-8'>
    <title>{{ page.title }}</title>
    <meta name='description' content='{{ page.description }}'>
    <meta name='keywords' content='{{ page.keywords }}'>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/vendor/modernizr-2.6.2.min.js"></script>

    <script type="text/javascript" src="//use.typekit.net/iwf1bfi.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body class='{{ page.current }}'>
        <header>
          <div class='content-wrapper'>
          <div class='content'>
            <a href='/' id='logo'>
              <img src='/images/aa-logo.png' alt='Agilion Apps' />
            </a>
            <nav role='site-navigation'>
              <ul>
                <li class='services'><a href='/services'>Services</a></li>
                <li class='case-studies'><a href='/case_studies'>Case Studies</a></li>
                <li class='team'><a href='/team'>Team</a></li>
                <li class='contact'><a href='/contact'>Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
        </header>
        <div id='main'>
          <div class='content-wrapper'>
          <div class='content'>
            {{ content }}
          </div>
        </div>
        </div>
        <footer>
          <div class='content-wrapper'>
          <div class='content'>
            <div class='vcard contact-info'>
              <h2 class='org fn'>Agilion Apps</h2>
              <strong class='tel'>+1.802.???.????</strong>
              <a href='mailto:info@agilionapps.com' class='email'>info@agilionapps.com</a>
              <address class='adr'><span class='locality'>Burlington</span>, <abbr class='region' title='Vermont'>VT</abbr></address>
            </div>
            <div class='copyright'>
              Agilion Apps &copy; 2010 - 2013. All Rights Reserved
            </div>
          </div>
        </div>
        </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="../js/plugins.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
