<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'/>
    <title>{{ page.title }}</title>
    <meta name='description' content='{{ page.description }}'>
    <meta name='keywords' content='{{ page.keywords }}'>
  </head>
  <body class='{{ page.current }}'>
    <div id='site'>
      <header>
        <a href='/' id='logo'>
          <img src='/images/agilionappslogo.png' alt='Agilion Apps' />
        </a>
        <nav role='site-navigation'>
          <ul>
            <li class='services'><a href='/services'>Services</a></li>
            <li class='portfolio'><a href='/portfolio'>Portfolio</a></li>
            <li class='team'><a href='/team'>Team</a></li>
            <li class='contact'><a href='/contact'>Contact</a></li>
          </ul>
        </nav>
      </header>
      <div id='main'>
        {{ content }}
      </div>
      <footer>

      </footer>
    </div>
  </body>
</html>
